<!-- Footer -->
<footer class="page-footer font-small bg-dark text-white">
  <div style="background-color: #4aae34;">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fa fa-facebook fa-2x  text-white mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter fa-2x  text-white mr-4"> </i>
          </a>
          <!-- Google +-->

          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-linkedin fa-2x  text-white mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram fa-2x text-white"> </i>
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Company name</h6>
        <hr
          class="border-success accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          Here you can use rows and columns to organize your footer content.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Categories</h6>
        <hr
          class="accent-2 mb-4 mt-0 d-inline-block mx-auto border-success"
          style="width: 60px;"
        />
        <p>
          <a class="text-decoration-none text-white" href="#!">Cat01</a>
        </p>
        <p>
          <a class="text-decoration-none text-white" href="#!">Cat02</a>
        </p>
        <p>
          <a class="text-decoration-none text-white" href="#!">Cat03</a>
        </p>
        <p>
          <a class="text-decoration-none text-white" href="#!">Cat04</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr
          class="border-success accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          <a class="text-decoration-none text-white" href="#!">Your Account</a>
        </p>
        <p>
          <a class="text-decoration-none text-white" href="#!"
            >Become an Affiliate</a
          >
        </p>
        <p>
          <a class="text-decoration-none text-white" href="#!"
            >Shipping Rates</a
          >
        </p>
        <p>
          <a class="text-decoration-none text-white" href="#!">Help</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr
          class="border-success accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p><i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
        <p><i class="fa fa-envelope mr-3"></i> info@example.com</p>
        <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
        <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a class="text-decoration-none font-weight-bold text-success" routerLink="/">
      COOPERA</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
