<div class="input-group mb-1 ">
  <div class="input-group-prepend ">
    <div class="dropdown">
      <button  class="btn btncateg btn-light dropdown-toggle rounded-0 input-group-text" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">Action</button>
        <button class="dropdown-item" type="button">Another action</button>
        <button class="dropdown-item" type="button">Something else here</button>
      </div>
    </div>
  </div>
  <input type="text" class="form-control  categ" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  <div class="input-group-append">
    <span class="input-group-text rounded-0"><i class="fa fa-search"></i></span>
  </div>
</div>
