<div class="row align-items-center justify-content-center">
  <div class="col-md-1 catdiv">
    <img src="" alt="" />
    <p class="cat position-relative">Partner00</p>
  </div>
  <div class="col-md-1 catdiv">
    <img src="" alt="" />
    <p class="cat position-relative">partner01</p>
  </div>
  <div class="col-md-1 catdiv">
    <img src="" alt="" />
    <p class="cat position-relative">Partner03</p>
  </div>
  <div class="col-md-1 catdiv">
    <img src="" alt="" />
    <p class="cat position-relative">Partner03</p>
  </div>
  <div class="col-md-1 catdiv">
    <img src="" alt="" />
    <p class="cat position-relative">Partner03</p>
  </div>
</div>
